@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.videoList {
  padding: 1rem;

  @include tablet-and-desktop {
    padding: 0 22.5rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 1.5rem 0 1.5rem 1rem;
    border-left: 1px solid $mercury-grey;
  }

  &__title {
    color: #afafaf;
    font-weight: 600;
    font-size: smaller;
    line-height: 1.5rem;

    @include tablet-and-desktop {
      padding-bottom: 0.5rem;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }
}
