@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoList {
  &__wrapper-card-img {
    width: 6.5rem;
    height: 4.5rem;
    border-radius: 4px;
    object-fit: cover;

    @include tablet-and-desktop {
      width: 7.5rem;
      height: 4.5rem;
    }

    @include desktop {
      width: 8rem;
      height: 5rem;
    }
  }

  &__wrapper-card {
    padding-top: 1rem;
  }

  &__wrapper-card2 {
    display: flex;
    color: $brainflix-black;
    cursor: pointer;
  }

  &__wrapper-card-info {
    @include flex-column;
    justify-content: space-between;
    padding: 0 0 0.25rem 1rem;
    font-size: 0.815rem;
    line-height: 1.3rem;

    @include tablet-and-desktop {
      font-size: 0.9rem;
    }
  }

  &__wrapper-card-info-title {
    font-weight: 600;
  }

  &__wrapper a {
    text-decoration: none;
  }
}
