$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$pure-white: #ffffff;
$albaster-white: #fafafa;
$mercury-grey: #e1e1e1;
$silver-grey: #afafaf;
