@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.hero {
  background-color: $brainflix-darkblack;

  @include tablet-and-desktop {
    display: flex;
    justify-content: center;
  }

  video {
    width: 100%;
    object-fit: cover;

    @include tablet-and-desktop {
      width: 91%;
    }

    @include desktop {
      width: 70%;
    }
  }
}
