@use "../../styles/partials/resets" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments {
  &__card-img {
    @include avatar-no-img;

    @include tablet-and-desktop {
      height: 2.5rem;
      width: 2.5rem;
    }

    @include desktop {
      margin-right: 2rem;
    }
  }

  &__card {
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid $mercury-grey;
    font-size: 0.815rem;

    @include tablet-and-desktop {
      font-size: 0.9rem;
    }

    @include desktop {
      padding: 1.5rem 0;
    }
  }

  &__card-wrapper2 {
    width: 100%;
  }

  &__card-wrapper2-nameDate {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__card-wrapper2-date {
    color: $silver-grey;
  }

  &__card-wrapper2-name {
    font-weight: 600;
  }

  &__card-wrapper2-text {
    @include desktop {
      padding-right: 1.5rem;
    }
  }
}
